

.hero-section--title {
    color: white;
}

/* page navigation */
.hero-section--breadcrumbs {
    margin: 0 auto;
    width: max-content;
    background-color: black;
    padding: 10px 15px;
    border-radius: 20rem;
    font-size: 12px;
    color: white !important;
}

/* Department Heading */
.team-category {
    text-align: center;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1pt solid rgb(133, 132, 132);
}

/* Member name */
.team-container h5 {
    color: red;
    font-weight: bold;
}

/* Member post */
.text-post {
    color: white;
    font-weight: light;
}